@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background-color: #f7f7f7;
}

body {
  min-height: 100vh;
  margin: 0;
}
